@charset "UTF-8";
/* line 12, C:/Users/Виктор/Dropbox/LeNovo310/Documents/FE projects/poliplivka/scss/article.scss */
.logo-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #1F2421;
  transition: all 0.5s;
}

/* line 22, C:/Users/Виктор/Dropbox/LeNovo310/Documents/FE projects/poliplivka/scss/article.scss */
.logo-wrapper__header {
  font-size: 5rem;
}

/* line 25, C:/Users/Виктор/Dropbox/LeNovo310/Documents/FE projects/poliplivka/scss/article.scss */
.logo-wrapper__slogan {
  font-size: 2rem;
  padding-bottom: 10px;
}

/* line 32, C:/Users/Виктор/Dropbox/LeNovo310/Documents/FE projects/poliplivka/scss/article.scss */
.slogan__title {
  font-size: 2.5rem;
  text-align: left;
  max-width: 50%;
  padding-left: 30px;
  padding-bottom: 20px;
  color: #EBE9E9;
  text-shadow: 1px 1px 1px black;
}

/* line 43, C:/Users/Виктор/Dropbox/LeNovo310/Documents/FE projects/poliplivka/scss/article.scss */
.shrink-box {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  height: 80px;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
}

/* line 54, C:/Users/Виктор/Dropbox/LeNovo310/Documents/FE projects/poliplivka/scss/article.scss */
.shrink-header {
  text-align: left;
  font-size: 4rem;
  padding-left: 30px;
}

/* line 60, C:/Users/Виктор/Dropbox/LeNovo310/Documents/FE projects/poliplivka/scss/article.scss */
.shrink-slogan {
  text-align: left;
  font-size: 1.5rem;
  padding-bottom: 10px;
}

/* line 66, C:/Users/Виктор/Dropbox/LeNovo310/Documents/FE projects/poliplivka/scss/article.scss */
.logo-wrapper__slogan-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 20px;
}

/* line 73, C:/Users/Виктор/Dropbox/LeNovo310/Documents/FE projects/poliplivka/scss/article.scss */
.logo-wrapper__tel {
  display: none;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

/* line 80, C:/Users/Виктор/Dropbox/LeNovo310/Documents/FE projects/poliplivka/scss/article.scss */
.shrink-tel {
  display: flex;
}

/* line 84, C:/Users/Виктор/Dropbox/LeNovo310/Documents/FE projects/poliplivka/scss/article.scss */
.link__tel {
  display: inline-block;
  font-family: 'Comfortaa', cursive;
  color: #FFC700;
  text-align: center;
  font-size: 1.3rem;
}

/* line 93, C:/Users/Виктор/Dropbox/LeNovo310/Documents/FE projects/poliplivka/scss/article.scss */
.nav-pad {
  height: 100px;
}

/* line 97, C:/Users/Виктор/Dropbox/LeNovo310/Documents/FE projects/poliplivka/scss/article.scss */
.slogan__wrapper {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* line 105, C:/Users/Виктор/Dropbox/LeNovo310/Documents/FE projects/poliplivka/scss/article.scss */
.slogan__wrapper::before, .slogan__wrapper::after {
  content: '';
  position: absolute;
  width: 1200px;
  height: 1200px;
  border-top-left-radius: 40%;
  border-top-right-radius: 45%;
  border-bottom-left-radius: 35%;
  border-bottom-right-radius: 40%;
  z-index: 0;
}

/* line 117, C:/Users/Виктор/Dropbox/LeNovo310/Documents/FE projects/poliplivka/scss/article.scss */
.slogan__wrapper::before {
  left: 70%;
  bottom: -35%;
  background-color: rgba(245, 184, 65, 0.8);
  -webkit-animation: wawes 45s infinite linear;
  -moz-animation: wawes 45s infinite linear;
  animation: wawes 45s infinite linear;
}

/* line 123, C:/Users/Виктор/Dropbox/LeNovo310/Documents/FE projects/poliplivka/scss/article.scss */
.slogan__wrapper::after {
  left: 55%;
  bottom: -40%;
  background-color: rgba(226, 192, 68, 0.8);
  -webkit-animation: wawes 30s infinite;
  -moz-animation: wawes 30s infinite;
  animation: wawes 30s infinite;
}

@-webkit-keyframes wawes {
  from {
    -webkit-transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(-360deg);
  }
}

@-moz-keyframes wawes {
  from {
    -moz-transform: rotate(0);
  }
  to {
    -moz-transform: rotate(-360deg);
  }
}

@keyframes wawes {
  from {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}

/* line 141, C:/Users/Виктор/Dropbox/LeNovo310/Documents/FE projects/poliplivka/scss/article.scss */
.features__wrapper {
  background-color: #1F2421;
}

/* line 145, C:/Users/Виктор/Dropbox/LeNovo310/Documents/FE projects/poliplivka/scss/article.scss */
.features__title {
  padding: 50px 30px;
  font-size: 2.5rem;
  font-weight: 600;
  color: #EBE9E9;
  text-align: center;
}

/* line 152, C:/Users/Виктор/Dropbox/LeNovo310/Documents/FE projects/poliplivka/scss/article.scss */
.features__line {
  height: 2px;
  width: 90%;
  margin: auto;
  margin-top: 50px;
  background-color: #839788;
}

/* line 161, C:/Users/Виктор/Dropbox/LeNovo310/Documents/FE projects/poliplivka/scss/article.scss */
.features-box {
  display: flex;
  padding: 10px 20px;
  justify-content: space-between;
  flex-wrap: nowrap;
  list-style: none;
}

/* line 167, C:/Users/Виктор/Dropbox/LeNovo310/Documents/FE projects/poliplivka/scss/article.scss */
.features-box__three-in-row {
  width: 33.3333%;
}

/* line 170, C:/Users/Виктор/Dropbox/LeNovo310/Documents/FE projects/poliplivka/scss/article.scss */
.features-box__five-in-row {
  width: 20%;
}

/* line 173, C:/Users/Виктор/Dropbox/LeNovo310/Documents/FE projects/poliplivka/scss/article.scss */
.features-box__item {
  padding: 0 20px;
  min-height: 400px;
}

/* line 177, C:/Users/Виктор/Dropbox/LeNovo310/Documents/FE projects/poliplivka/scss/article.scss */
.features-box__item--title {
  text-align: center;
  text-transform: uppercase;
  font-family: 'Comfortaa', cursive;
  font-weight: bold;
  color: #EBE9E9;
}

/* line 184, C:/Users/Виктор/Dropbox/LeNovo310/Documents/FE projects/poliplivka/scss/article.scss */
.features-box__item--slogan {
  padding: 10px 30px;
  text-align: center;
  font-size: 1.5rem;
  color: #E9D758;
}

/* line 190, C:/Users/Виктор/Dropbox/LeNovo310/Documents/FE projects/poliplivka/scss/article.scss */
.features-box__item--comment {
  padding: 20px 35px;
  font-size: 1.3rem;
  font-style: italic;
  text-align: center;
  color: #839788;
}

/* line 197, C:/Users/Виктор/Dropbox/LeNovo310/Documents/FE projects/poliplivka/scss/article.scss */
.features-box__icon {
  width: 150px;
  height: 150px;
  display: block;
  margin: 30px auto;
}

/* line 203, C:/Users/Виктор/Dropbox/LeNovo310/Documents/FE projects/poliplivka/scss/article.scss */
.features-box__icon:hover {
  position: relative;
  animation-name: jello;
  transform-origin: center;
  animation-duration: 1s;
}

/* line 209, C:/Users/Виктор/Dropbox/LeNovo310/Documents/FE projects/poliplivka/scss/article.scss */
.features-box__list {
  list-style: disc;
  color: #E9D758;
  padding-left: 50px;
}

/* line 214, C:/Users/Виктор/Dropbox/LeNovo310/Documents/FE projects/poliplivka/scss/article.scss */
.features-box__list--item {
  padding: 2px 30px;
  text-align: left;
  font-style: italic;
  font-size: 1.3rem;
  color: #839788;
}

@keyframes jello {
  from,
  11.1%,
  to {
    transform: none;
  }
  22.2% {
    transform: skewX(-12.5deg) skewY(-12.5deg);
  }
  33.3% {
    transform: skewX(6.25deg) skewY(6.25deg);
  }
  44.4% {
    transform: skewX(-3.125deg) skewY(-3.125deg);
  }
  55.5% {
    transform: skewX(1.5625deg) skewY(1.5625deg);
  }
  66.6% {
    transform: skewX(-0.78125deg) skewY(-0.78125deg);
  }
  77.7% {
    transform: skewX(0.39063deg) skewY(0.39063deg);
  }
  88.8% {
    transform: skewX(-0.19531deg) skewY(-0.19531deg);
  }
}

/* line 254, C:/Users/Виктор/Dropbox/LeNovo310/Documents/FE projects/poliplivka/scss/article.scss */
.product-wrapper {
  display: flex;
  justify-content: space-around;
}

/* line 257, C:/Users/Виктор/Dropbox/LeNovo310/Documents/FE projects/poliplivka/scss/article.scss */
.product-wrapper__box {
  max-width: 45%;
}

/* line 263, C:/Users/Виктор/Dropbox/LeNovo310/Documents/FE projects/poliplivka/scss/article.scss */
.product__title {
  padding: 50px 30px;
  font-size: 1.8rem;
  font-weight: 600;
  color: #EBE9E9;
}

/* line 269, C:/Users/Виктор/Dropbox/LeNovo310/Documents/FE projects/poliplivka/scss/article.scss */
.product__list {
  list-style: disc;
  color: #E9D758;
  padding-left: 50px;
}

/* line 274, C:/Users/Виктор/Dropbox/LeNovo310/Documents/FE projects/poliplivka/scss/article.scss */
.product__item {
  padding: 5px 30px;
  text-align: left;
  font-size: 1.5rem;
  color: #E9D758;
}

/* line 284, C:/Users/Виктор/Dropbox/LeNovo310/Documents/FE projects/poliplivka/scss/article.scss */
.contact__wrapper {
  display: flex;
  flex-wrap: wrap;
}

/* line 288, C:/Users/Виктор/Dropbox/LeNovo310/Documents/FE projects/poliplivka/scss/article.scss */
.contact__map {
  min-width: 400px;
  padding: 20px 50px;
}

/* line 293, C:/Users/Виктор/Dropbox/LeNovo310/Documents/FE projects/poliplivka/scss/article.scss */
.contact__box {
  display: flex;
  flex-direction: column;
}

/* line 298, C:/Users/Виктор/Dropbox/LeNovo310/Documents/FE projects/poliplivka/scss/article.scss */
.contact__header {
  padding: 20px 20px 10px;
  font-size: 1.8rem;
  font-weight: 600;
  color: #EBE9E9;
}

/* line 304, C:/Users/Виктор/Dropbox/LeNovo310/Documents/FE projects/poliplivka/scss/article.scss */
.contact__tel, .contact__mail {
  display: block;
  font-family: 'Arsenal', sans-serif;
  color: #E9D758;
  text-align: left;
  font-size: 1.5rem;
  padding: 5px 20px;
}

/* line 317, C:/Users/Виктор/Dropbox/LeNovo310/Documents/FE projects/poliplivka/scss/article.scss */
.footer__text {
  color: #EBE9E9;
  font-family: 'Cuprum', sans-serif;
  padding-left: 20px;
}

/* line 323, C:/Users/Виктор/Dropbox/LeNovo310/Documents/FE projects/poliplivka/scss/article.scss */
.footer__link {
  color: #EBE9E9;
  font-family: 'Cuprum', sans-serif;
}

/*# sourceMappingURL=../css/article.map */