@charset "UTF-8";
/* line 7, C:/Users/Виктор/Dropbox/LeNovo310/Documents/FE projects/poliplivka/scss/article.scss */
.logo-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #272626;
  transition: all 0.5s;
}

/* line 17, C:/Users/Виктор/Dropbox/LeNovo310/Documents/FE projects/poliplivka/scss/article.scss */
.logo-wrapper__header {
  font-size: 5rem;
}

/* line 20, C:/Users/Виктор/Dropbox/LeNovo310/Documents/FE projects/poliplivka/scss/article.scss */
.logo-wrapper__slogan {
  font-size: 2rem;
  padding-bottom: 10px;
}

/* line 26, C:/Users/Виктор/Dropbox/LeNovo310/Documents/FE projects/poliplivka/scss/article.scss */
.shrink-box {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  height: 80px;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
}

/* line 37, C:/Users/Виктор/Dropbox/LeNovo310/Documents/FE projects/poliplivka/scss/article.scss */
.shrink-header {
  text-align: left;
  font-size: 4rem;
  padding-left: 30px;
}

/* line 43, C:/Users/Виктор/Dropbox/LeNovo310/Documents/FE projects/poliplivka/scss/article.scss */
.shrink-slogan {
  text-align: left;
  font-size: 1.5rem;
  padding-bottom: 10px;
}

/* line 49, C:/Users/Виктор/Dropbox/LeNovo310/Documents/FE projects/poliplivka/scss/article.scss */
.logo-wrapper__slogan-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 20px;
}

/* line 56, C:/Users/Виктор/Dropbox/LeNovo310/Documents/FE projects/poliplivka/scss/article.scss */
.logo-wrapper__tel {
  display: none;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

/* line 62, C:/Users/Виктор/Dropbox/LeNovo310/Documents/FE projects/poliplivka/scss/article.scss */
.shrink-tel {
  display: flex;
}

/* line 66, C:/Users/Виктор/Dropbox/LeNovo310/Documents/FE projects/poliplivka/scss/article.scss */
.link__tel {
  display: inline-block;
  font-family: 'Comfortaa', cursive;
  color: #FCDE74;
  text-align: center;
  font-size: 1.3rem;
}

/* line 75, C:/Users/Виктор/Dropbox/LeNovo310/Documents/FE projects/poliplivka/scss/article.scss */
.nav-pad {
  height: 90px;
}

/* line 79, C:/Users/Виктор/Dropbox/LeNovo310/Documents/FE projects/poliplivka/scss/article.scss */
.article-text__slogan {
  font-size: 2.5rem;
  text-align: left;
  max-width: 50%;
  padding-top: 200px;
  padding-left: 30px;
}

/* line 87, C:/Users/Виктор/Dropbox/LeNovo310/Documents/FE projects/poliplivka/scss/article.scss */
.article-wrapper__slogan {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  position: relative;
}

/* line 92, C:/Users/Виктор/Dropbox/LeNovo310/Documents/FE projects/poliplivka/scss/article.scss */
.article-wrapper__slogan::before, .article-wrapper__slogan::after {
  content: '';
  position: absolute;
  width: 1200px;
  height: 1200px;
  border-top-left-radius: 40%;
  border-top-right-radius: 45%;
  border-bottom-left-radius: 35%;
  border-bottom-right-radius: 40%;
  z-index: -1;
}

/* line 104, C:/Users/Виктор/Dropbox/LeNovo310/Documents/FE projects/poliplivka/scss/article.scss */
.article-wrapper__slogan::before {
  left: 70%;
  bottom: -35%;
  background-color: rgba(2, 128, 144, 0.35);
  -webkit-animation: wawes 45s infinite linear;
  -moz-animation: wawes 45s infinite linear;
  animation: wawes 45s infinite linear;
}

/* line 110, C:/Users/Виктор/Dropbox/LeNovo310/Documents/FE projects/poliplivka/scss/article.scss */
.article-wrapper__slogan::after {
  left: 55%;
  bottom: -40%;
  background-color: rgba(69, 105, 144, 0.4);
  -webkit-animation: wawes 30s infinite;
  -moz-animation: wawes 30s infinite;
  animation: wawes 30s infinite;
}

@-webkit-keyframes wawes {
  from {
    -webkit-transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(-360deg);
  }
}

@-moz-keyframes wawes {
  from {
    -moz-transform: rotate(0);
  }
  to {
    -moz-transform: rotate(-360deg);
  }
}

@keyframes wawes {
  from {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}

/* line 127, C:/Users/Виктор/Dropbox/LeNovo310/Documents/FE projects/poliplivka/scss/article.scss */
.article-text__features {
  padding: 20px 30px;
  font-size: 2.5rem;
}

/* line 132, C:/Users/Виктор/Dropbox/LeNovo310/Documents/FE projects/poliplivka/scss/article.scss */
.article-wrapper__features {
  height: 100vh;
  background-color: #FCDE74;
}

/* line 137, C:/Users/Виктор/Dropbox/LeNovo310/Documents/FE projects/poliplivka/scss/article.scss */
.features-box {
  display: flex;
  padding: 10px 20px;
  justify-content: space-between;
  flex-wrap: nowrap;
  list-style: none;
}

/* line 143, C:/Users/Виктор/Dropbox/LeNovo310/Documents/FE projects/poliplivka/scss/article.scss */
.features-box__item {
  padding: 0 20px;
}

/* line 147, C:/Users/Виктор/Dropbox/LeNovo310/Documents/FE projects/poliplivka/scss/article.scss */
.features-box__item--slogan {
  text-align: center;
  font-size: 1.8rem;
}

/* line 151, C:/Users/Виктор/Dropbox/LeNovo310/Documents/FE projects/poliplivka/scss/article.scss */
.features-box__item--comment {
  padding-top: 20px;
  font-size: 1.3rem;
  font-style: italic;
  text-align: center;
}

/* line 157, C:/Users/Виктор/Dropbox/LeNovo310/Documents/FE projects/poliplivka/scss/article.scss */
.features-box__icon {
  width: 200px;
  height: 200px;
  display: block;
  margin: 20px auto;
}

/* line 163, C:/Users/Виктор/Dropbox/LeNovo310/Documents/FE projects/poliplivka/scss/article.scss */
.features-box__icon:hover {
  position: relative;
  transform: scale(1.1);
}

/*# sourceMappingURL=../css/article.map */