@charset "UTF-8";
@media screen and (min-width: 1800px) {
  /* line 3, C:/Users/Виктор/Dropbox/LeNovo310/Documents/FE projects/poliplivka/scss/responsive.scss */
  .logo-wrapper__header {
    font-size: 5rem;
  }
  /* line 6, C:/Users/Виктор/Dropbox/LeNovo310/Documents/FE projects/poliplivka/scss/responsive.scss */
  .logo-wrapper__slogan {
    font-size: 2rem;
  }
  /* line 11, C:/Users/Виктор/Dropbox/LeNovo310/Documents/FE projects/poliplivka/scss/responsive.scss */
  .features-box__icon {
    width: 250px;
    height: 250px;
  }
  /* line 15, C:/Users/Виктор/Dropbox/LeNovo310/Documents/FE projects/poliplivka/scss/responsive.scss */
  .features-box__item--slogan {
    font-size: 2.5rem;
  }
  /* line 18, C:/Users/Виктор/Dropbox/LeNovo310/Documents/FE projects/poliplivka/scss/responsive.scss */
  .features-box__item--title {
    font-size: 2rem;
  }
  /* line 21, C:/Users/Виктор/Dropbox/LeNovo310/Documents/FE projects/poliplivka/scss/responsive.scss */
  .features-box__item--comment {
    font-size: 2rem;
  }
  /* line 24, C:/Users/Виктор/Dropbox/LeNovo310/Documents/FE projects/poliplivka/scss/responsive.scss */
  .features-box__list--item {
    font-size: 2rem;
  }
  /* line 28, C:/Users/Виктор/Dropbox/LeNovo310/Documents/FE projects/poliplivka/scss/responsive.scss */
  .features__title {
    font-size: 4rem;
  }
  /* line 31, C:/Users/Виктор/Dropbox/LeNovo310/Documents/FE projects/poliplivka/scss/responsive.scss */
  .slogan__title {
    font-size: 3rem;
  }
  /* line 35, C:/Users/Виктор/Dropbox/LeNovo310/Documents/FE projects/poliplivka/scss/responsive.scss */
  .product__title {
    font-size: 2.5rem;
  }
  /* line 38, C:/Users/Виктор/Dropbox/LeNovo310/Documents/FE projects/poliplivka/scss/responsive.scss */
  .product__item {
    font-size: 2rem;
  }
  /* line 43, C:/Users/Виктор/Dropbox/LeNovo310/Documents/FE projects/poliplivka/scss/responsive.scss */
  .contact__box {
    margin-bottom: 50px;
  }
  /* line 46, C:/Users/Виктор/Dropbox/LeNovo310/Documents/FE projects/poliplivka/scss/responsive.scss */
  .contact__header {
    font-size: 2.5rem;
  }
  /* line 49, C:/Users/Виктор/Dropbox/LeNovo310/Documents/FE projects/poliplivka/scss/responsive.scss */
  .contact__tel, .contact__mail {
    font-size: 2.3rem;
  }
}

@media screen and (min-width: 880px) and (max-width: 1024px) {
  /* line 58, C:/Users/Виктор/Dropbox/LeNovo310/Documents/FE projects/poliplivka/scss/responsive.scss */
  .features-box__icon {
    width: 100px;
    height: 100px;
  }
  /* line 62, C:/Users/Виктор/Dropbox/LeNovo310/Documents/FE projects/poliplivka/scss/responsive.scss */
  .features-box__item {
    padding: 0 10px;
  }
  /* line 65, C:/Users/Виктор/Dropbox/LeNovo310/Documents/FE projects/poliplivka/scss/responsive.scss */
  .features-box__item--slogan {
    font-size: 1.2rem;
  }
  /* line 68, C:/Users/Виктор/Dropbox/LeNovo310/Documents/FE projects/poliplivka/scss/responsive.scss */
  .features-box__item--title {
    font-size: 1rem;
  }
  /* line 71, C:/Users/Виктор/Dropbox/LeNovo310/Documents/FE projects/poliplivka/scss/responsive.scss */
  .features-box__item--comment {
    padding: 10px 10px;
  }
  /* line 75, C:/Users/Виктор/Dropbox/LeNovo310/Documents/FE projects/poliplivka/scss/responsive.scss */
  .slogan__title {
    font-size: 2rem;
  }
  /* line 79, C:/Users/Виктор/Dropbox/LeNovo310/Documents/FE projects/poliplivka/scss/responsive.scss */
  .contact__map {
    padding: 0 auto;
  }
  /* line 82, C:/Users/Виктор/Dropbox/LeNovo310/Documents/FE projects/poliplivka/scss/responsive.scss */
  .contact__box {
    width: 100%;
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 760px) and (max-width: 879px) {
  /* line 91, C:/Users/Виктор/Dropbox/LeNovo310/Documents/FE projects/poliplivka/scss/responsive.scss */
  .features-box__icon {
    width: 100px;
    height: 100px;
  }
  /* line 95, C:/Users/Виктор/Dropbox/LeNovo310/Documents/FE projects/poliplivka/scss/responsive.scss */
  .features-box__item {
    padding: 0 10px;
  }
  /* line 98, C:/Users/Виктор/Dropbox/LeNovo310/Documents/FE projects/poliplivka/scss/responsive.scss */
  .features-box__item--slogan {
    font-size: 1.2rem;
  }
  /* line 101, C:/Users/Виктор/Dropbox/LeNovo310/Documents/FE projects/poliplivka/scss/responsive.scss */
  .features-box__item--title {
    font-size: 1rem;
  }
  /* line 104, C:/Users/Виктор/Dropbox/LeNovo310/Documents/FE projects/poliplivka/scss/responsive.scss */
  .features-box__item--comment {
    padding: 10px 10px;
  }
  /* line 108, C:/Users/Виктор/Dropbox/LeNovo310/Documents/FE projects/poliplivka/scss/responsive.scss */
  .slogan__title {
    font-size: 1.5rem;
  }
  /* line 112, C:/Users/Виктор/Dropbox/LeNovo310/Documents/FE projects/poliplivka/scss/responsive.scss */
  .contact__map {
    padding: 0;
  }
  /* line 115, C:/Users/Виктор/Dropbox/LeNovo310/Documents/FE projects/poliplivka/scss/responsive.scss */
  .contact__box {
    width: 100%;
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 600) and (max-width: 759px) {
  /* line 124, C:/Users/Виктор/Dropbox/LeNovo310/Documents/FE projects/poliplivka/scss/responsive.scss */
  .logo-wrapper__header {
    font-size: 3rem;
    text-shadow: #1F2421 1px 1px 1px;
  }
  /* line 128, C:/Users/Виктор/Dropbox/LeNovo310/Documents/FE projects/poliplivka/scss/responsive.scss */
  .logo-wrapper__slogan {
    font-size: 1.2rem;
    text-shadow: #1F2421 1px 1px 1px;
  }
  /* line 133, C:/Users/Виктор/Dropbox/LeNovo310/Documents/FE projects/poliplivka/scss/responsive.scss */
  .features__wrapper {
    min-height: 100%;
  }
  /* line 137, C:/Users/Виктор/Dropbox/LeNovo310/Documents/FE projects/poliplivka/scss/responsive.scss */
  .features-box__icon {
    width: 100px;
    height: 100px;
  }
  /* line 141, C:/Users/Виктор/Dropbox/LeNovo310/Documents/FE projects/poliplivka/scss/responsive.scss */
  .features-box__item {
    padding: 0 10px;
    min-height: 100%;
  }
  /* line 145, C:/Users/Виктор/Dropbox/LeNovo310/Documents/FE projects/poliplivka/scss/responsive.scss */
  .features-box__item--slogan {
    font-size: 1.2rem;
  }
  /* line 148, C:/Users/Виктор/Dropbox/LeNovo310/Documents/FE projects/poliplivka/scss/responsive.scss */
  .features-box__item--title {
    font-size: 1rem;
  }
  /* line 151, C:/Users/Виктор/Dropbox/LeNovo310/Documents/FE projects/poliplivka/scss/responsive.scss */
  .features-box__item--comment {
    padding: 10px 10px;
  }
  /* line 155, C:/Users/Виктор/Dropbox/LeNovo310/Documents/FE projects/poliplivka/scss/responsive.scss */
  .slogan__title {
    font-size: 1.5rem;
  }
  /* line 159, C:/Users/Виктор/Dropbox/LeNovo310/Documents/FE projects/poliplivka/scss/responsive.scss */
  .contact__map {
    padding: 0;
  }
  /* line 162, C:/Users/Виктор/Dropbox/LeNovo310/Documents/FE projects/poliplivka/scss/responsive.scss */
  .contact__box {
    width: 100%;
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 599px) {
  /* line 171, C:/Users/Виктор/Dropbox/LeNovo310/Documents/FE projects/poliplivka/scss/responsive.scss */
  .logo-wrapper__header {
    font-size: 2rem;
    text-shadow: #1F2421 1px 1px 1px;
  }
  /* line 175, C:/Users/Виктор/Dropbox/LeNovo310/Documents/FE projects/poliplivka/scss/responsive.scss */
  .logo-wrapper__slogan {
    font-size: 1rem;
    text-shadow: #1F2421 1px 1px 1px;
  }
  /* line 180, C:/Users/Виктор/Dropbox/LeNovo310/Documents/FE projects/poliplivka/scss/responsive.scss */
  .link__tel {
    font-size: 1rem;
  }
  /* line 183, C:/Users/Виктор/Dropbox/LeNovo310/Documents/FE projects/poliplivka/scss/responsive.scss */
  .features__wrapper {
    min-height: 100%;
  }
  /* line 186, C:/Users/Виктор/Dropbox/LeNovo310/Documents/FE projects/poliplivka/scss/responsive.scss */
  .features-box {
    display: block;
  }
  /* line 188, C:/Users/Виктор/Dropbox/LeNovo310/Documents/FE projects/poliplivka/scss/responsive.scss */
  .features-box__icon {
    width: 200px;
    height: 200px;
    margin-top: 60px;
  }
  /* line 193, C:/Users/Виктор/Dropbox/LeNovo310/Documents/FE projects/poliplivka/scss/responsive.scss */
  .features-box__item {
    padding: 0 10px;
    min-height: 100%;
    width: 100%;
  }
  /* line 198, C:/Users/Виктор/Dropbox/LeNovo310/Documents/FE projects/poliplivka/scss/responsive.scss */
  .features-box__item--slogan {
    font-size: 2rem;
  }
  /* line 201, C:/Users/Виктор/Dropbox/LeNovo310/Documents/FE projects/poliplivka/scss/responsive.scss */
  .features-box__item--title {
    font-size: 1.5rem;
  }
  /* line 204, C:/Users/Виктор/Dropbox/LeNovo310/Documents/FE projects/poliplivka/scss/responsive.scss */
  .features-box__item--comment {
    padding: 10px 10px;
  }
  /* line 208, C:/Users/Виктор/Dropbox/LeNovo310/Documents/FE projects/poliplivka/scss/responsive.scss */
  .slogan__title {
    font-size: 1.5rem;
  }
  /* line 211, C:/Users/Виктор/Dropbox/LeNovo310/Documents/FE projects/poliplivka/scss/responsive.scss */
  .product-wrapper {
    display: block;
  }
  /* line 213, C:/Users/Виктор/Dropbox/LeNovo310/Documents/FE projects/poliplivka/scss/responsive.scss */
  .product-wrapper__box {
    max-width: 100%;
  }
  /* line 218, C:/Users/Виктор/Dropbox/LeNovo310/Documents/FE projects/poliplivka/scss/responsive.scss */
  .contact__map {
    padding: 0;
  }
  /* line 221, C:/Users/Виктор/Dropbox/LeNovo310/Documents/FE projects/poliplivka/scss/responsive.scss */
  .contact__box {
    width: 100%;
    margin-bottom: 50px;
  }
}

/*# sourceMappingURL=../css/responsive.map */