@charset "UTF-8";
/* line 14, C:/Users/Виктор/Dropbox/LeNovo310/Documents/FE projects/poliplivka/scss/slider.scss */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* line 21, C:/Users/Виктор/Dropbox/LeNovo310/Documents/FE projects/poliplivka/scss/slider.scss */
.slider-wrap {
  width: 100%;
  padding-bottom: 43%;
  position: relative;
  background-color: #504d4a;
  overflow: hidden;
}

/* line 30, C:/Users/Виктор/Dropbox/LeNovo310/Documents/FE projects/poliplivka/scss/slider.scss */
.slider-wrap .slider-content {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 800%;
  height: 100%;
  font-size: 0;
  list-style: none;
  transition: transform 1s;
}

/* line 42, C:/Users/Виктор/Dropbox/LeNovo310/Documents/FE projects/poliplivka/scss/slider.scss */
.slider-wrap .s-item {
  display: inline-block;
  width: 12.5%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
}

/* line 50, C:/Users/Виктор/Dropbox/LeNovo310/Documents/FE projects/poliplivka/scss/slider.scss */
.slider-wrap .s-item-1 {
  background-image: url("../image/hd-slide-1.jpg");
}

/* line 53, C:/Users/Виктор/Dropbox/LeNovo310/Documents/FE projects/poliplivka/scss/slider.scss */
.slider-wrap .s-item-2 {
  background-image: url("../image/hd-slide-2.jpg");
}

/* line 56, C:/Users/Виктор/Dropbox/LeNovo310/Documents/FE projects/poliplivka/scss/slider.scss */
.slider-wrap .s-item-3 {
  background-image: url("../image/hd-slide-3.jpg");
}

/* line 59, C:/Users/Виктор/Dropbox/LeNovo310/Documents/FE projects/poliplivka/scss/slider.scss */
.slider-wrap .s-item-4 {
  background-image: url("../image/hd-slide-4.jpg");
}

/* line 62, C:/Users/Виктор/Dropbox/LeNovo310/Documents/FE projects/poliplivka/scss/slider.scss */
.slider-wrap .s-item-5 {
  background-image: url("../image/hd-slide-5.jpg");
}

/* line 65, C:/Users/Виктор/Dropbox/LeNovo310/Documents/FE projects/poliplivka/scss/slider.scss */
.slider-wrap .s-item-6 {
  background-image: url("../image/hd-slide-6.jpg");
}

/* line 68, C:/Users/Виктор/Dropbox/LeNovo310/Documents/FE projects/poliplivka/scss/slider.scss */
.slider-wrap .s-item-7 {
  background-image: url("../image/hd-slide-7.jpg");
}

/* line 71, C:/Users/Виктор/Dropbox/LeNovo310/Documents/FE projects/poliplivka/scss/slider.scss */
.slider-wrap .s-item-8 {
  background-image: url("../image/hd-slide-8.jpg");
}

/* line 77, C:/Users/Виктор/Dropbox/LeNovo310/Documents/FE projects/poliplivka/scss/slider.scss */
.slider-type .slider-content {
  animation: slider-animation 50s ease-in-out infinite;
}

@keyframes slider-animation {
  0%,
  7% {
    transform: translateX(0%);
  }
  7.14286%,
  14.14286% {
    transform: translateX(-12.5%);
  }
  14.28571%,
  21.28571% {
    transform: translateX(-25%);
  }
  21.42857%,
  28.42857% {
    transform: translateX(-37.5%);
  }
  28.57143%,
  35.57143% {
    transform: translateX(-50%);
  }
  35.71429%,
  42.71429% {
    transform: translateX(-62.5%);
  }
  42.85714%,
  49.85714% {
    transform: translateX(-75%);
  }
  50%,
  57% {
    transform: translateX(-87.5%);
  }
  57.14286%,
  64.14286% {
    transform: translateX(-75%);
  }
  64.28571%,
  71.28571% {
    transform: translateX(-62.5%);
  }
  71.42857%,
  78.42857% {
    transform: translateX(-50%);
  }
  78.57143%,
  85.57143% {
    transform: translateX(-37.5%);
  }
  85.71429%,
  92.71429% {
    transform: translateX(-25%);
  }
  92.85714%,
  99.85714% {
    transform: translateX(-12.5%);
  }
  100%,
  107% {
    transform: translateX(0%);
  }
}

/*# sourceMappingURL=../css/slider.map */