* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a,
a:hover {
    text-decoration: none;
}

footer {
    background-color: #839788;
    min-height: 50px;
    width: 100%;
}

h6 {
    /* щрифт для логотипа */
    font-family: 'Exo 2', sans-serif;
    /* шрифт для девиза логотипа */
    font-family: 'Comfortaa', cursive;
    /* шрифт для основного текста */
    font-family: 'Arsenal', sans-serif;
    /* шрифт для списков */
    font-family: 'Cuprum', sans-serif;
}

h1 {
    font-family: 'Exo 2', sans-serif;
    color: #fff777;
    /* color: #FCDE74; */
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
}

h2 {
    font-family: 'Comfortaa', cursive;
    color: #fff777;
    text-align: center;
}

p {
    font-family: 'Arsenal', sans-serif;
    font-size: 1.5rem;
}

ol {
    padding-left: 20px;
}

li {
    font-family: 'Cuprum', sans-serif;
    font-size: 1.3rem;
}

article {
    background-color: #1F2421;
}

.div-no-display {
    display: none;
}