* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a,
a:hover {
    text-decoration: none;
}

.logo-wrapper {
    position: fixed;
    width: 100%;
    background-color: #272626;
    z-index: 1;
}
body {
    /* background-color: white; */
}
footer {
    margin-top: 20px;
    background-color: #272626;
    height: 50px;
    width: 100%;
}

h6 {
    /* щрифт для логотипа */
    font-family: 'Exo 2', sans-serif;
    /* шрифт для девиза логотипа */
    font-family: 'Comfortaa', cursive;
    /* шрифт для основного текста */
    font-family: 'Arsenal', sans-serif;
    /* шрифт для списков */
    font-family: 'Cuprum', sans-serif;
}

h1 {
    font-family: 'Exo 2', sans-serif;
    color: #FCDE74;
    text-align: center;
    font-size: 5rem;
    margin-top: 0px;
    margin-bottom: 0px;
}

h2 {
    font-family: 'Comfortaa', cursive;
    color: #FCDE74;
    text-align: center;
    font-size: 1.8rem;
    padding-bottom: 30px;
}

p {
    font-family: 'Arsenal', sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
}

ol {
    padding-left: 20px;
}

li {
    font-family: 'Cuprum', sans-serif;
    font-size: 1.3rem;
}
