@import "bourbon";
// Colors of waves
$colorFirstWave: #F5B841;
$colorSecondWave: #E2C044;
// Colors of DOM
$colorLogo: #fff777; // FFC700
$colorBackgroundMain: #1F2421;
$colorBackgroundSecond: #839788;
$colorTitle: #fff777;
$colorComment: #EBE9E9;
// ------- Первая страница -------
.logo-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column; // justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: url("../image/start-photo-croped-right.jpg") center center;
    background-size: cover;
    transition: all 0.5s;
    &__header {
        font-size: 5rem;
        text-shadow: #1F2421 2px 2px 2px;
    }
    &__slogan-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-right: 20px;
    }
    &__slogan {
        font-size: 2rem;
        text-shadow: #1F2421 2px 2px 1px;
        padding-bottom: 10px;
    }
    &__tel {
        display: none;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
    }
}

.shrink-box {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    height: 80px;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    background: none;
    background-color: $colorBackgroundMain;
}

.shrink-header {
    text-align: left;
    font-size: 4rem;
    padding-left: 30px;
}

.shrink-slogan {
    text-align: left;
    font-size: 1.5rem;
    padding-bottom: 10px;
}

.shrink-tel {
    display: flex;
}

.link__tel {
    display: inline-block;
    font-family: 'Comfortaa', cursive;
    color: $colorLogo;
    text-align: center;
    font-size: 1.3rem;
}

.animationAct {
    animation-name: flip;
    animation-duration: 1s;
}

.animationDelay {
    &__2 {
        animation-delay: 0.2s;
    }
    &__3 {
        animation-delay: 0.4s;
    }
    &__4 {
        animation-delay: 0.6s;
    }
    &__5 {
        animation-delay: 0.8s;
    }
}
// ------- Scroll hint --------

.scrollHint:before {
    content: "\FE3E"
}

.scrollHint {
    position: absolute;
    left: 47%;
    bottom: 10px;
    font-size: 50px;
    color: black;
    -webkit-animation: scrollHint 1s infinite normal ease-out;
    animation: scrollHint 1s infinite normal ease-out;
}

@-webkit-keyframes scrollHint {
    0% {
        bottom: 10px;
    }
    50% {
        bottom: 15px;
    }
    100% {
        bottom: 10px;
    }
}

@keyframes scrollHint {
    0% {
        bottom: 10px;
    }
    50% {
        bottom: 15px;
    }
    100% {
        bottom: 10px;
    }
}



// ------- Вторая страница -------
.nav-pad {
    height: 100px;
}

.slogan {
    &__title {
        font-size: 2.5rem;
        text-align: left;
        max-width: 50%;
        padding-left: 30px;
        padding-bottom: 20px;
        color: $colorComment;
        text-shadow: 1px 1px 1px black;
    }
    &__wrapper {
        height: 100vh;
        width: 100%;
        overflow: hidden;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        &::before,
        &::after {
            content: '';
            position: absolute;
            width: 1200px;
            height: 1200px;
            border-top-left-radius: 40%;
            border-top-right-radius: 45%;
            border-bottom-left-radius: 35%;
            border-bottom-right-radius: 40%;
            z-index: 0;
        }
        &::before {
            left: 70%;
            bottom: -35%;
            background-color: rgba($colorFirstWave, 0.8);
            @include animation(wawes 45s infinite linear);
        }
        &::after {
            left: 55%;
            bottom: -40%;
            background-color: rgba($colorSecondWave, 0.8);
            @include animation(wawes 30s infinite);
        }
    }
}

@include keyframes (wawes) {
    from {
        @include transform(rotate(0));
    }
    to {
        @include transform(rotate(-360deg));
    }
}

.features {
    &__wrapper {
        min-height: 635px;
        background-color: $colorBackgroundMain;
    }
    &__title {
        padding: 50px 30px;
        font-size: 2.5rem;
        font-weight: 600;
        color: $colorComment;
        text-align: center;
    }
    &__line {
        height: 2px;
        width: 90%;
        margin: auto;
        margin-top: 50px;
        background-color: $colorBackgroundSecond;
    }
}

.features-box {
    display: flex;
    padding: 10px 20px;
    justify-content: space-between;
    flex-wrap: nowrap;
    list-style: none;
    &__three-in-row {
        width: 33.3333%;
    }
    &__five-in-row {
        width: 20%;
    }
    &__item {
        padding: 0 20px;
        min-height: 400px;
    }
    &__item--title {
        text-align: center;
        text-transform: uppercase;
        font-family: 'Comfortaa', cursive;
        font-weight: bold;
        color: $colorComment;
    }
    &__item--slogan {
        padding: 10px 30px;
        text-align: center;
        font-size: 1.5rem;
        color: $colorTitle;
    }
    &__item--comment {
        padding: 20px 35px;
        font-size: 1.3rem;
        font-style: italic;
        text-align: center;
        color: $colorBackgroundSecond;
    }
    &__icon {
        width: 150px;
        height: 150px;
        display: block;
        margin: 30px auto;
    }
    &__icon:hover {
        position: relative;
        animation-name: jello;
        transform-origin: center;
        animation-delay: 0;
        animation-duration: 1s;
    }
    &__list {
        list-style: disc;
        color: $colorTitle;
        padding-left: 50px;
    }
    &__list--item {
        padding: 2px 30px;
        text-align: left;
        font-style: italic;
        font-size: 1.3rem;
        color: $colorBackgroundSecond;
        ;
    }
}

.no-margin-top {
    margin-top: -40px;
}

// -------- Третья страница --------
.product-wrapper {
    display: flex;
    justify-content: space-around;
    &__box {
        max-width: 45%;
    }
}

.product {
    &__title {
        padding: 50px 30px;
        font-size: 1.8rem;
        font-weight: 600;
        color: $colorComment;
    }
    &__list {
        list-style: disc;
        color: $colorTitle;
        padding-left: 50px;
    }
    &__item {
        padding: 5px 30px;
        text-align: left;
        font-size: 1.5rem;
        color: $colorTitle;
    }
}

// ============== CONTACTS ==============
.contact {
    &__wrapper {
        display: flex;
        flex-wrap: wrap;
    }
    &__map {
        // max-width: 50%;
        min-width: 400px;
        padding: 20px 50px;
    }
    &__box {
        // max-width: 50%;
        display: flex;
        flex-direction: column;
    }
    &__header {
        padding: 20px 20px 10px;
        font-size: 1.8rem;
        font-weight: 600;
        color: $colorComment;
    }
    &__tel,
    &__mail {
        display: block;
        font-family: 'Arsenal', sans-serif;
        color: $colorTitle;
        text-align: left;
        font-size: 1.5rem;
        padding: 5px 20px;
    }
}

// =========== FOTER  ===========
.footer {
    &__wrapp {
        padding: 10px 20px;
    }
    &__text {
        color: black;
        font-family: 'Cuprum', sans-serif; // padding-left: 20px;
        // text-shadow: #1F2421 -1px -1px 1px;
    }
    &__link {
        color: #333333;
        font-family: 'Cuprum', sans-serif;
    }
}